  </div>
        
        <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/materialize.min.js"></script>
        <script src="/js/socket.io.js"></script>
        <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="/js/rotator.js"></script>
        <script src="/js/app.js"></script>
        <script>if (window.module) module = window.module;</script>
    </body>
</html>