<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/materialize.min.css" type="text/css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="app">
          <h1>Test page</h1>
        </div>
    </body>
</html>
